/* Put Application specific CSS here. */
.dd-balance-negative { color: #ff0000; font-style: italic; }
.dd-balance-positive { color: #00f000; }
.dd-list-item { padding-left: .5em; }
.dd-bottom { bottom: 0; }

.dd-bordered {
	-webkit-border-image: url(../images/selector-header-gray.png) 15 stretch stretch;
	border: 7px;
}

.dd-checkbox {
	position: relative;
	top: -10px;
}

#subtotal {
	position: absolute;
	top: 116px;
	left: 1%;
	width: 23%;
}

#subtotalPlusSign {
	position: absolute;
	top: 116px;
	left: 25%;
}

#tipPercent {
	position: absolute;
	top: 116px;
	left: 29%;
	width: 15%;
	text-align: right;
}

#tipSuffix {
	position: absolute;
	top: 116px;
	left: 47%;
}

#tipAmount {
	font-size: medium;
	vertical-align: middle;
}

#total {
	position: absolute;
	top: 116px;
	left: 77%;
	width: 23%;
}

.dd-payingRow {
	margin: -10px 0 0 0;
}

.dd-payingCheckbox {
	display: inline;
	float: left;
}

.dd-amountRow {
	background-color: #ff0000;
}

.dd-sharefixed {
	float: left;
	display: inline;
}

.dd-amountIs {
	float: left;
	display: inline;
	color: #1f75bf;
	text-shadow: #ffffff 0px 1px 0px;
	font-size: 14px;
	margin: 16px 12px 0 0;
	text-transform: uppercase;
}

.dd-additionalAmount {
	float: left;
	display: inline;
	margin-top: 12px;
	width: 3em;
}

.scene-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.scene-footer-wrapper { margin-top: -10px; }
.scene-footer-spacer { padding-bottom: 80px; }

.palm-header {
	z-index: 1000001;
}

/* This is totally gross */
.scene-fade-top {
	position: fixed;
	top: 0;
	z-index: 100;
	height: 54px;	/* yay hardwiring */
	width: 100%;
	background: url(../images/scene-fade-top.png) top center repeat-x;
	-webkit-palm-mouse-target: ignore;
}

.scene-fade-bottom {
	position: fixed;
	bottom: 0;
	height: 54px;
	width: 100%;
	background: url(../images/scene-fade-bottom.png) bottom center repeat-x;
	-webkit-palm-mouse-target: ignore;
}
