<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<div class="label dd-personAmount">
			<span id="isPayerMessage#{id}">#{-isPayerFormatted}</span>
			<span id="total#{id}" class="dd-bordered dd-drawer-button" x-mojo-tap-highlight="momentary">#{total}</span>
		</div>
		<div class="title dd-list-item">
			<div id="shareCheckbox#{id}" class="dd-checkbox" x-mojo-element="CheckBox"></div>
			#{name}
		</div>
		<span id="personDrawerContainer#{id}"></span>
	</div>
</div>
